body {
  background: #f3f3f3;
  padding: 30px 20px;
}

.dashboard-cards {
  position: relative;
  padding-bottom: 50px;
  margin: 0 !important;
}

.dashboard-cards .card-container {
  padding: 10px 15px;
}

.dashboard-cards .card {
  background: #ffffff;
  display: block;
  min-width: 250px;
  max-width: 400px;
  margin: 0;
  border-radius: 5px;
  z-index: 20;
  padding: 0 !important;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard-cards .card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
}

.dashboard-cards .card-title {
  background: #ffffff;
  padding: 20px 15px 0 15px;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.dashboard-cards h3 {
  font-size: 28px;
  color: #555;
  letter-spacing: -0.05em;
  margin: 0 0 0 20px;
  padding: 0;
}

.dashboard-cards h3 small {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: -0.025em;
}

.dashboard-cards .card-description {
  position: relative;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: column;
}

.dashboard-cards .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 5px;
  text-align: center;
}

.dashboard-cards .card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.dashboard-cards .flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

.dashboard-cards .flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

.dashboard-cards.showing .card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
  transform: scale(0.88);
}

.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}

.dashboard-cards .card.d-card-show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.dashboard-cards .card.d-card-show .card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.dashboard-cards .card.d-card-show .flap1 {
  transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card.d-card-show .flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.dashboard-cards .task-status {
  position: absolute;
  top: 25px;
  right: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.dashboard-cards .task-status.badge-warning {
  background-color: rgba(255, 193, 7, 0.3);
}

.dashboard-cards .task-status.badge-primary {
  background-color: rgba(0, 123, 255, 0.7);
}

.dashboard-cards .task-status.badge-success {
  background-color: rgba(40, 167, 69, 0.7);
}

.dashboard-cards .card-actions .btn {
  color: #333;
}

.dashboard-cards .card-actions .btn:hover {
  color: #f36525;
}

/* overrides */
.dashboard-cards hr {
  margin: 15px 0 0 0;
}

/* clocks */
.task-details {
  display: flex;
}
.task-time {
  margin-left: -10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.task-skills {
  width: 50%;
  padding: 10px 0;
  margin: auto;
}

.time-range,
.time-zone {
  color: #333;
  font-weight: 600;
  line-height: 18px;
}

.time-text {
  text-align: center;
  font-size: 14px;
}

.time-text span {
  display: block;
}

.clock {
  width: 75px;
  height: 75px;
  display: flex;
  border-radius: 50%;
  background-color: #999;
  border: 2px solid #999;
  float: left;
  margin: 15px auto;
}

.ten {
  background-image: linear-gradient(180deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.two {
  background-image: linear-gradient(210deg, transparent 50%, white 50%),
    linear-gradient(60deg, white 50%, transparent 50%);
}

.three {
  background-image: linear-gradient(180deg, transparent 50%, white 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
}

/* skills */
.skills {
  display: flex;
  margin-bottom: 20px;
}

.skills:last-of-type {
  margin-bottom: 0;
}

.skills .fas {
  color: #888;
  font-size: 28px;
}

.skills span {
  flex-grow: 1;
  margin-left: 10px;
  text-align: center;
  align-self: center;
  font-size: 14px;
  line-height: 18px;
}

/* card description */
.card-description .fas {
  font-size: 22px;
  color: #777;
}

.task-company {
  display: flex;
  padding: 5px;
}

.task-company-title {
  display: flex;
  align-items: center;
}

.task-company-name {
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
}

.task-users {
  display: flex;
  padding: 5px;
  align-items: center;
}

.task-user-count {
  flex-grow: 1;
}

.task-user-count-number {
  margin-left: 15px;
  font-size: 26px;
  color: #1c5b1c;
}

.task-user-accepted {
  flex-grow: 1;
}

.task-user-accepted .fas {
  margin-right: 5px;
  color: #647264;
}

.task-info {
  padding: 5px;
  font-size: 12px;
  color: #666;
}

.task-author,
.task-date {
  padding: 5px;
  text-align: right;
}

.task-author {
  display: flex;
}

.task-author-name {
  flex-grow: 1;
}
